sniffy-user {
	display: block;
	text-align: center;
	&.xs sniffy-icon {
		font-size: 100%;
	}
	&.sm sniffy-icon {
		font-size: 150%;
	}
	&.md sniffy-icon {
		font-size: 250%;
	}
	&.lg sniffy-icon {
		font-size: 500%;
	}
}
