{{#link-to "sniffies" classNames="left"}}< Sniffies{{/link-to}}
<h1 class="center">{{title}}</h1>
<button class="right btn-link" {{action create}} {{bind-attr disabled=isNotValid}}>
	Sniffy!
</button>
