<ul class="list-group">
	{{#each}}
		<a href="#" {{action toggle this}} {{bind-attr class=":list-group-item isSelected:active"}}>
			{{name}}
		</a>
	{{/each}}
	<li class="list-group-item">
		{{outlet}}
	</li>
</ul>
