<header>
	{{#link-to "sniffies"}}Sniffies{{/link-to}}
	{{#link-to "sniffies.previous"}}Previous Sniffies{{/link-to}}
	{{#link-to "settings"}}Settings{{/link-to}}	
	{{#link-to "new"}}Add{{/link-to}}	
</header>
<section>
	{{outlet}}
</section>