<ul class="dots">
	<li>
		{{#link-to "sniffies.index"}}
			<span class="dot"></span>
		{{/link-to}}
	</li>
	<li>
		{{#link-to "sniffies.previous"}}
			<span class="dot"></span>
		{{/link-to}}
	</li>
	<li>
		{{#link-to "settings"}}
			<span class="dot"></span>
		{{/link-to}}
	</li>	
</ul>
