<ul>
	<li>{{#link-to "what"}}What::{{what}}{{/link-to}}</li>
	<li>{{#link-to "where"}}Where{{/link-to}}</li>
	<li>{{input type="date" value=when placeholder="When?"}}::{{format-date when}}</li>
	<li>{{#link-to "who"}}Who{{/link-to}}</li>
</ul>