<ul>
	<li>{{#link-to "what"}}What{{/link-to}}</li>
	<li>{{#link-to "where"}}Where{{/link-to}}</li>
	<li>{{input type="date" value=when placeholder="When?"}}</li>
	<li>{{#link-to "who"}}Who{{/link-to}}</li>
</ul>